<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
	<div class="row">
<div class="col">
<div class="form-sec">  
 <form name="qryform" id="qryform">
	 <h2>Your order ID:{{orderID}}</h2>
	 
	 <div class="form-group"[(ngModel)]="bookOrder.customerId" name="customerId" 
	 ngDefaultControl [ngModelOptions]="{standalone: true}">
		<label>Customer ID:</label>
		<h2></h2>
	  </div>
    <div class="form-group">
      <label>OrderDate:</label>
      <input type="date" class="form-control" placeholder="Mention the date" name="orderDate" ngDefaultControl [(ngModel)]="bookOrder.orderDate" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group" [(ngModel)]="bookOrder.orderTotal">
      <label>Total:</label>
	  <input type="text" class="form-control"  placeholder="Enter your Total Amount" name="recipientName" ngDefaultControl [(ngModel)]="bookOrder.orderTotal" [ngModelOptions]="{standalone: true}">
    </div>
    <div class="form-group">
      <label>Payment method:</label>
	  <select  class="form-control" (change)="ngOnChanges()" [(ngModel)]="bookOrder.paymentMethod" name="paymentMethod" ngDefaultControl [ngModelOptions]="{standalone: true}">
		<option *ngFor="let option of array" [value]="option" >{{option}}</option>
	</select>
    </div>
	<div class="form-group">
      <label>Your Name:</label>
      <input type="text" class="form-control"  placeholder="Enter your name"
	   name="recipientName" ngDefaultControl [(ngModel)]="bookOrder.recipientName"
	    [ngModelOptions]="{standalone: true}" required minlength="3">
    </div>
	<div class="form-group">
		<label>Your Address:</label>
		<input type="text" class="form-control"  placeholder="Enter your address" name="address" ngDefaultControl [(ngModel)]="bookOrder.address" [ngModelOptions]="{standalone: true}">
	  </div>
	  <div class="form-group">
		<label>Phone Number:</label>
		<input type="text" class="form-control"  placeholder="Enter your mobile no." name="recipientPhone" ngDefaultControl [(ngModel)]="bookOrder.recipientPhone" [ngModelOptions]="{standalone: true}">
	  </div>
	  <div class=row>
		  <div class="column">
    <button type="submit" class="btn btn-info" *ngIf="isValid"  (click)="bookOrderDetails()" [routerLink]="['/order-details']">Order & see Invoice</button>
	<button type="submit" *ngIf="!isValid"  (click)="bookOrderDetails()" [routerLink]="['/payment']" class="btn btn-light">Proceed to payment</button></div>
	<div class="column">
	<button type="submit" class="btn btn-danger" [routerLink]="['/cart']" style="scroll-padding-left: 10px;float: right;">Cancel</button>
	</div>
	</div>
  </form>
  </div>
</div>
<div class="col">
	<img src="assets\images\placeOrderImg.jpg" style="width: 670px;height: 650px;">
	</div>
	</div>

</div>

